import url("http://fonts.googleapis.com/css?family=Maven+Pro");

* {
    margin: 0;
    padding: 0;
} 

h1, h2, h3, h4, h5, h6, a, p, span {
    font-family: 'Maven Pro', sans-serif;
    color: #777;
}

.content-row {
    margin-top: 1.25rem;
}

.top-bar {
    height: 65px;
    background: #618b6f;
    color: white;
    border-bottom: 5px solid #A8C855;
}
.top-bar a:hover, .top-bar a:visited {
    background: #94a983;
}
.top-bar .top-bar-section li:not(.has-form) a:not(.button) {
    color: white;
    background: #618b6f;
    height: 65px;
    width: 115px;
    padding-top: 12px;
    border-bottom: 5px solid #A8C855;
    text-align: center;
}
.top-bar .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #618b6f;
    font-weight: bolder;
}
.top-bar .top-bar-section .has-dropdown > a:after {
    margin-top: 9px;
}
.top-bar img {
    height: 50px;
    width: auto;
    margin: 5px auto auto 186px;
}
.top-bar .top-bar-section .has-dropdown.not-click:hover > .dropdown {
    width: 124px;
}
.top-bar .top-bar-section .has-dropdown.not-click:hover > .dropdown li + a {
    height: 30px;
}
.top-bar .top-bar-section .has-dropdown.not-click:hover > .dropdown li > a {
    padding-top: 0px;
    line-height: 30px;
    height: 30px;
    color: #618b6f;
}
.top-bar-section ul{
    position: relative;
    margin-right: 167px;
}

.top-bar .name h1 a {
    color: #618b6f;
}

.login-form {
    margin-top: 30px;
}

.button {
    background: #94a983;
}
.button:hover {
    background: #618b6f;
}

a, a:hover {
    color: #777;
}

.button.tiny {
    font-size: 16px;
}

.top-bar .name h1 a:hover {
    background: none;
}
.top-bar-section .dropdown li label {
    background: #577C64;
    padding-left: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: white;
}

.custom-radius {
    border-radius: 10px;
}

.custom-panel {
    border: 1px solid #A8C855;
    padding: 0;
    background: white;
}
.custom-panel .profile-data {
    padding: 1.25rem;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.ultra-small {
    width: 65px;
    height: 32px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 7px 2px;
}

.price {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.price .custom-description {
    opacity: 0;
    position: absolute;
    width: 75%;
    margin-top: -117px;
    font-size: 20px;
}
.price .custom-description a {
    color: white;
    background: #94a983;
    padding: 9px;
    border-radius: 10px;
    border: 4px solid #a8c855;
}
.price:hover .project-image {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.price:hover .custom-description {
    opacity: 1;
    color: black;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.textarea {
    -webkit-resize: vertical;
    -moz-resize: vertical;
    resize: vertical;
}

.tabpanel {
    height: 200px;
}

.tabs dd.active a, .tabs .tab-title.active a {
    background: #a8c855;
    color: white;
}
.tabs dd a, .tabs .tab-title a {
    background: #94a983;
    color: white;
}

.custom-panel-tab {
    padding: 30px;
    border-top: 5px solid #a8c855;
}

#personal-badge-felipe{
  width: 250px;
  height: 250px;
  margin: 0 40px;
  background: url(https://avatars0.githubusercontent.com/u/1175479?v=2&s=460);
  background-size: cover;
}

#personal-badge-katty{
  width: 250px;
  height: 250px;
  margin: 0 40px;
  background: url("../img/aloha.jpg");
  background-size: cover;
}

.cofounder-image{
    width: 80%;
    height: auto;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.cofounder-image:hover{
  width: 80%;
  height: auto;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.information-transition{
  padding-top: 28%;
  background: rgba(255,255,255,0.4);
  width: 250px;
  margin-left: -15px;
  height: 250px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.information-transition:hover{
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.person-info{
    display: block;
    color: #fff;
    font-size: 0.7em;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}

.columns h5{
    color: #272727;
    font-size: medium;
    margin-bottom: 5px;
}

/* .columns h5:hover{
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
} */

.person-info::after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    margin: 10px auto;
    background-color: #c6c6c6;
    font-size: 5px;
}

/* .person-info:hover{
    opacity: 1;
}*/

.cofounder-socialinfo{
    list-style-type: none;
    margin: 30px auto 0 auto;
}

.cofounder-socialinfo li{
    font-size: 20px;
    display: inline;
    padding: 8px 9px 8px 9px;
    border: 1px solid #55acee;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 5px;
    background-color: #55acee;
}

.cofounder-socialinfo li:first-child{
    background-color: #069;
    border: 1px solid #069;
}

.cofounder-socialinfo li:last-child{
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
}

.cofounder-socialinfo a{
    color: white;
}

.model-custom img{
    width: 80%;
    height: auto;
    margin: 0;
}

.model-custom .android img{
    position: relative;
    padding-top: 25px;
    margin: 0 13px 0 0;
}

.model-custom .iphone img{
    position: relative;
    padding-top: 25px;
    margin: 0 100px 0 -160px;
}

/*=====================*/

@import url("http://fonts.googleapis.com/css?family=Maven+Pro");

p, span, h1, h2, h3, h4, h5, h6, label {
    font-family: 'Maven Pro', sans-serif;
}

 #home {
    margin-top: -5px;
    background: white url("../img/home_bg.jpg") 100% 0 repeat fixed;
    min-height: 500px;
    -webkit-mask: rgba(0, 0, 0, 0.5);
    height: 500px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
}
 #home p, #home span, #home h1, #home h2, #home h3, #home h4, #home h5, #home h6, #home label {
    color: white;
    position: relative;
    margin-top: -25px;
}
 #home label {
    font-style: bold;
    font-size: 32px;
}
 #home label.inline {
    padding: 0;
}
 #home input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    box-shadow: none;
    cursor: text;
    color: white;
    height: 50px;
    font-size: 30px;
}

 #home article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 200px;
    width: 100%;
}

#home .button {
    position: relative;
    margin-top: 60px;
}

 #about {
    background: white 50% 0;
    height: 500px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    /*-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
     box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}

 #about article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
}
 #about article i {
    color: #618b6f;
}

 #third-section {
    background: #eee url("../img/texture_main.png") 100% 0 repeat fixed;
    height: 500px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin-top: -5px;
    min-height: 500px;
    -webkit-mask: rgba(0, 0, 0, 0.5);
}

 #third-section article{
    height: 458px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
}
 #third-section h1, #third-section h5, #third-section p{
    color: white;
}

#third-section h4{
    color: white;
    margin-top: 90px;
    padding:  0 0 0 214px;
}

#third-section h1{
    position: relative;
    margin-top: -10px;
}

 #who {
    background: white;
    height: 500px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin-top: -5px;
    min-height: 500px;
    -webkit-mask: rgba(0, 0, 0, 0.5);
}

 #who article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
}

 footer {
    background: #618b6f;
    border-top: 5px solid #a8c855;
    height: 155px;
}
 footer .info-1 {
    margin-top: 40px;
}
 footer .info-1 h6 {
    color: white;
    font-size: 14px;
}
 footer .info-3 img {
    margin-top: 25px;
    padding-bottom: 25px;
    height: 100px;
    opacity: 0.7;
}
 footer .info-3 img:hover {
    opacity: 1;
}

@media (max-width: 959px) {
         #about {
        height: 1200px;
    }
         #about article {
        height: 950px;
    }
    
         #home label {
        font-style: bold;
        font-size: 16px;
    }
         #home label.inline {
        padding: 0;
    }
         #home input {
        background: none;
        border: none;
        border-bottom: 2px solid white;
        box-shadow: none;
        cursor: text;
        color: white;
        height: 28px;
        font-size: 16px;
    }
}
 .project-section img {
    width: 100%;
}

 .pricing-table .title {
    background: #618b6f;
}

/* USER PAGE - PROFILE */

@import url("http://fonts.googleapis.com/css?family=Maven+Pro");

p, span, h1, h2, h3, h4, h5, h6, label {
    font-family: 'Maven Pro', sans-serif;
}

#profile{
    margin-top: -5px;
    background: white;
    min-height: 500px;
    -webkit-mask: rgba(0, 0, 0, 0.5);
    height: 600px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
}

#profile h1, #profile h2, #profile h3, #profile h4, #profile h5, #profile h6, #profile p{
    color: #777;
}

#profile h2{
    color: #232323;
}
.panel{
    margin-top: 95px;
}

.panel.callout{
    border-color: white;
    background: white;
    height: 380px;
    padding: 1.25em;
    padding-top: 0px;
    font-family: 'Maven Pro', sans-serif;
}

.profile-image img{
    width: 25%;
    height: auto;
}

.profile-data{
    margin: 0 -21px 0 -21px;
}

.button {
    margin-top: 15px;
}

.project-images{
    margin-top: 95px;
}

.project-images li{
    width: 180px;
    height: 180px;
    float: right;
}

.project-images li:first-child{
    margin: 0 80px 0 20px;
}

.project-images li:last-child{
    margin-right: 20px;
}

.th{
    width: 180px;
    height: 180px;
    line-height: 0;
    display: inline-block;
    border: solid 4px #FFFFFF;
    max-width: 100%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}

.linkto-project{
    float: right;
}